body {
    background-color: aqua;
    background-image: url("background.png") ;
    background-repeat: no-repeat;
    background-size: 100% 700px;
     }
    
     h1 {
        font-family: Comic Sans MS;
        color: darkblue;
        font-size: 60px;
     }
    
     p {
        text-align: justify;
        font-family: Georgia;
     }
    
     h3,h4 {
        font-family: Georgia;
     }

     .link1 {
        text-align: center;
        color: orange

        
     }

.link2 {
    text-align: right;
}

     .warna {
        color: white
     }

     .warna:hover {
      color: red;
     }

     .warna2:hover {
      color: white;
      background-color: blue;
     }